.app-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg-dark);
}

.main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  max-height: 100vh;
}